:root {
    --bg-color: #0F172A;
    --stroke-color: #1E293B;

    --brand-color-light: #60A5FA;
    --brand-color-dark: #1D4ED8;

    --text-color-primary: #F1F5F9;
    --text-color-secondary: #CBD5E1;

    --font-family: "Archivo", sans-serif;
    --heading1: 800 1.5rem/135% var(--font-family);     
    --heading2: 800 1rem/140% var(--font-family);       
    --heading3: 800 0.875rem/140% var(--font-family);
    --span: 600 0.875rem/145% var(--font-family);
    --paragraph: 400 0.875rem/160% var(--font-family);
    --text: 400 1rem/140% var(--font-family);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bg-color);
    font: var(--text);
    color: var(--text-color-primary);
    padding-bottom: 2.5rem;
}

.container {
    min-width: 22.5rem;
    margin-inline: auto;
}

a {
    font: var(--span);
    color: var(--text-color-secondary);
    text-decoration: none;
    text-wrap: nowrap;
}

main {
    gap: 2rem;
    width: 100%;
    padding: 1rem;
}

.tag {
    display: inline-block;
    width: fit-content;
    background-color: var(--brand-color-dark);

    font: 500 0.625rem/1.2 var(--font-family);
    letter-spacing: 0.04rem;
    text-transform: uppercase;

    border-radius: .25rem;
    box-shadow: 0 .25rem 1rem rgba(2, 6, 23, 0.25);

    padding: .25rem .5rem;
    margin-bottom: .5rem;
}