/* Mobile first */

section header,
aside header {
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    color: var(--text-color-secondary);
    border-top: 1px solid var(--stroke-color);
    padding-top: .75rem;

    & a {
        gap: .25rem;

        & span {
            background-image: url(../assets/icons/ArrowRight.svg);
            width: 1rem;
            height: 1rem;
        }
    }

    & a:hover {
        color: var(--brand-color-light);

        & span {
            background-image: url(../assets/icons/ArrowRightHover.svg);
        }
    }

    & h3,
    & a {
        height: 1.25rem;
    }
}

#spotlight {
    width: 100%;

    & .featured {
        position: relative;
        width: 100%;
        height: 26rem;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            top: 50%;
            background-image: linear-gradient(180deg, transparent 0%, #020617 100%);
            border-radius: .25rem;
        }

        & img {
            border-radius: .25rem;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }

        & figcaption {
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 2rem 1rem 1rem;

            & h1 {
                height: 100%;
            }

            & .mobile-h1 { display: block; }

            & .tablet-h1 { display: none; }
        }
    }

    & div {

        & .card {
            position: relative;
            width: 100%;
            height: 12.5rem;
            cursor: pointer;
    
            &::before {
                content: '';
                position: absolute;
                inset: 0;
                top: 0%;
                background-image: linear-gradient(180deg, transparent 0%, #020617 100%);
                border-radius: .25rem;
            }
            
            & img {
                border-radius: .25rem;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
    
            & figcaption {
                position: absolute;
                left: 0;
                bottom: 0;
                padding: 2.25rem .75rem .75rem;
    
                & h3 {
                    height: 100%;
                }

                & .mobile-h3 { display: block; }

                & .tablet-h3 { display: none; }
            }
        }
    }
}

#weekly-pop {
    gap: 1.5rem;
    width: 100%;
    padding-bottom: 1.5rem;

    & div {
        grid-auto-flow: row;
        gap: 2rem;

        & figure {
            position: relative;
            cursor: pointer;

            & .tag {
                position: absolute;
                left: .5rem;
                top: .5rem;
                margin: 0;
            }

            & img {
                width: 100%;
                height: 10rem;
                object-fit: cover;
                object-position: center;
                margin-bottom: .5rem;
            }

            & h2 {
                height: 100%;
            }

            & .mobile-h2 { display: block; }

            & .tablet-h2 { display: none; }
        }
    }
}

#ai-featured {
    gap: 1.5rem;

    & div {
        flex-direction: column;
        gap: 2rem;

        & article {
            gap: 1rem;

            & img {
                width: 5rem;
                height: 5rem;
                object-fit: cover;
                cursor: pointer;
            }

            & h2 {
                margin-bottom: .25rem;
                cursor: pointer;
            }

            & p {
                color: var(--text-color-secondary);
                cursor: pointer;
            }

            & .mobile-h2,
            & .mobile-p { display: block; }

            & .tablet-h2,
            & .tablet-p { display: none; }
        }
    }
}

#extra {
    gap: 1.5rem;
    width: 100%;
    grid-auto-flow: row;

    & #ads {
        grid-row: 1;
        justify-self: center;
        width: 20.5rem;
        position: relative;
        cursor: pointer;
    
        & img:nth-child(1) {
            position: absolute;
            left: calc(100% - 1.75rem);
            top: .5rem;
            z-index: 1;
        }
    
        & img:nth-child(2) {
            position: relative;
            width: 100%;
            height: 11.75rem;
            border-radius: .25rem;
            object-fit: cover;
            z-index: 0;
        }
    }

    & #articles {
        grid-row: 2;
        gap: 1.5rem;

        & div {
            flex-direction: column;
    
            & figure {
    
                & img {
                    width: 4.5rem;
                    height: 4.5rem;
                    cursor: pointer;
                }
    
                & figcaption {
                    height: 100%;
                    cursor: pointer;
    
                    & h3 {
                        height: 2.5rem;
                    }
    
                    & .mobile-h3 { display: block; }
    
                    & .tablet-h3 { display: none; }
                }
            }
        }
    }
}

@media (width >= 37.5rem) { /* Tablet */
    & main {
        grid-template-areas: 
        "spotlight spotlight"
        "weekly-pop weekly-pop"
        "ai-featured ai-featured"
        "extra extra";
    }

    & #spotlight {
        grid-area: spotlight;

        & .featured {

            & figcaption {
                
                & .mobile-h1 { display: none; }

                & .tablet-h1 { display: block; }
            }
        }

        & div {
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, .5fr);

            & .card {
                height: 100%;

                & img {
                    object-fit: cover;
                    object-position: top;
                }
            }
        }
    }

    & #weekly-pop {
        grid-area: weekly-pop;
        justify-content: center;

        & div {
            
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, 1fr);

            & figure {
                min-width: 18.25rem;
                height: 100%;

                & .mobile-h2 { display: none; }

                & .tablet-h2 { display: block; }
            }
        }
    }

    & #ai-featured {
        grid-area: ai-featured;

        & div {

            & article {

                & img {
                    width: 11rem;
                    height: 11rem;
                }
                
                & div {
                    & .mobile-h2,
                    & .mobile-p { display: none; }
    
                    & .tablet-h2,
                    & .tablet-p { display: block; }
                }
            }
        }
    }

    & #extra {
        grid-area: extra;
        grid-auto-flow: column;
        justify-content: space-between;

        & #ads {
            justify-self: start;
            grid-row: unset;
            height: 11.75rem;
        }
    
        & #articles {
            grid-row: unset;
            grid-auto-flow: row;

            & div {
    
                & figure {

                    & figcaption {

                        & .mobile-h3 { display: none; }
    
                        & .tablet-h3 { display: block; }
                    }
                }
            }
        }
    }
}