section header,
aside header {
    justify-content: space-between;
    width: 100%;
    color: var(--text-color-secondary);
    border-top: 1px solid var(--stroke-color);
    padding-top: .75rem;

    & a {
        gap: .25rem;

        & span {
            background-image: url(../assets/icons/ArrowRight.svg);
            width: 1rem;
            height: 1rem;
        }
    }

    & a:hover {
        color: var(--brand-color-light);

        & span {
            background-image: url(../assets/icons/ArrowRightHover.svg);
        }
    }

    & h3,
    & a {
        height: 1.25rem;
    }
}

#spotlight {
    width: 100%;

    & .card {
        position: relative;
        width: 100%;
        height: 12.5rem;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            top: 0%;
            background-image: linear-gradient(180deg, transparent 0%, #020617 100%);
            border-radius: .25rem;
        }
        
        & img {
            border-radius: .25rem;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:nth-child(1) {
            height: 26rem;

            &::before {
                top: 50%;
            }
            
            & figcaption {
                padding: 2rem 1rem 1rem;
            }
        }


        & figcaption {
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 2.25rem .75rem .75rem;

            & h3 {
                height: 3.75rem;
            }
        }
    }
}

#weekly-pop {
    gap: 1.5rem;
    width: 100%;
    padding-bottom: 1.5rem;

    & div {
        flex-direction: column;
        gap: 2rem;

        & figure {
            position: relative;
            cursor: pointer;

            & .tag {
                position: absolute;
                left: .5rem;
                top: .5rem;
                margin: 0;
            }

            & img {
                width: 100%;
                height: 10rem;
                object-fit: cover;
                margin-bottom: .5rem;
            }

            & h2 {
                height: 4.125rem;
            }
        }
    }
}

#ai-featured {
    gap: 1.5rem;

    & div {
        flex-direction: column;
        gap: 2rem;

        & article {
            gap: 1rem;

            & img {
                width: 5rem;
                height: 5rem;
                object-fit: cover;
                cursor: pointer;
            }

            & h2 {
                margin-bottom: .25rem;
                cursor: pointer;
            }

            & p {
                color: var(--text-color-secondary);
                cursor: pointer;
            }
        }
    }
}

#ads {
    justify-self: center;
    width: 20.5rem;
    position: relative;
    cursor: pointer;

    & img:nth-child(1) {
        position: absolute;
        left: calc(100% - 1.75rem);
        top: .5rem;
        z-index: 1;
    }

    & img:nth-child(2) {
        position: relative;
        width: 100%;
        height: 11.75rem;
        border-radius: .25rem;
        object-fit: cover;
        z-index: 0;
    }
}

#extra {
    width: 100%;
    gap: 1.5rem;

    & div {
        flex-direction: column;

        & figure {

            & img {
                width: 4.5rem;
                height: 4.5rem;
                cursor: pointer;
            }

            & figcaption {
                height: 100%;
                cursor: pointer;

                & h3 {
                    height: 2.5rem;
                }
            }
        }
    }
}