section header {
    align-items: start;
    align-self: start;
    color: var(--text-color-secondary);
    border-top: 1px solid var(--stroke-color);
    padding-top: .75rem;

    a {
        justify-content: end;
        align-items: center;
        gap: .25rem;

        span {
            background-image: url(../assets/icons/ArrowRight.svg);
            width: 1rem;
            height: 1rem;
        }

        &:hover span {
            background-image: url(../assets/icons/ArrowRightHover.svg);
        }
    }
}

#spotlight {
    grid-area: spotlight;
    img {
        height: 100%;
        max-height: 26rem;
        object-fit: cover;
    }
}

.card {
    border-radius: 4px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        top: 50%;
        background-image: linear-gradient(180deg, transparent 0%, #020617 100%);
    }

    figcaption {
        position: absolute;
        bottom: 0;
        padding: 4.5rem 1.5rem 1.5rem;

        &:has(.text-l) {
            padding: .75rem;
        }

        h2 {
            margin-top: .5rem;
        }
    }

}

#weekly-pop {
    grid-area: weekly-pop;
    gap: 1.5rem;
    padding-bottom: 1.5rem;

    &>div {
        grid-template-columns: repeat(4, 18.25rem);
    }

    img {
        height: 10rem;
    }

    figure {
        position: relative;
    }

    .tag {
        position: absolute;
        left: .5rem;
        top: .5rem;
    }

    h2 {
        margin-top: .5rem;
    }
}

#ai {
    align-self: self-start;
    grid-area: ai;
    gap: 1.5rem;

    img {
        width: 11rem;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    h2 {
        margin-block: .5rem .25rem;
    }
}

aside {
    grid-area: aside;
}

#ads {
    img {
        border-radius: .25rem;
    }
}