.flex {
    display: flex;
}

.grid {
    display: grid;
}

.grid-col {
    grid-auto-flow: column;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.text-2xl {
    font: var(--heading1);
}

.text-xl {
    font: var(--heading2);
}

.text-l {
    font: var(--heading3);
}

.text-s {
    font: var(--paragraph);
}

.heading-span {
    font: var(--span);
}